.popup{
  position:fixed;
  left:50%;  
}
.popup .wrapper{
  position:relative; 
  left:-50%;
} 

.myimg {
  width: 200%
}

input[type="text"] {
  font-family: Courier New, Courier, monospace;
  font-size: 28;
}

input[type="password"] {
  font-family: Courier New, Courier, monospace;
  font-size: 28;
}
