<circle-progress
  class="centered-block"
  [percent]="100 * (computeGPA(classesArray) / 4.0)"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#3748ac'"
  [innerStrokeColor]="'#3748ac'"
  [animation]="true"
  [animationDuration]="300"
  [renderOnClick]="false"
  [title]="sdf"
  [showSubtitle]="true"
  [showTitle]="false"
  [showUnits]="false"
  [startFromZero]="false"
  [showInnerStroke]="false"
  [subtitle]="computeDisplayGPA(classesArray)"
  [subtitleFontSize]="40"
  [subtitleFontWeight]="400"
  [subtitleColor]="'#3748ac'"
></circle-progress>
<div class="centered-block">
  <mat-card id="calc">
      <button (click)="saveGrades()" mat-raised-button color="primary">Save</button>
    <div>
      <span @items *ngFor="let class of classesArray; let i = index">
            <mat-form-field>
            <mat-select [(ngModel)]="class.grade" >
                <mat-option value="A">A</mat-option>
                <mat-option value="A-">A-</mat-option>
                <mat-option value="B+">B+</mat-option>
                <mat-option value="B">B</mat-option>
                <mat-option value="B-">B-</mat-option>
                <mat-option value="C+">C+</mat-option>
                <mat-option value="C">C</mat-option>
                <mat-option value="C-">C-</mat-option>
                <mat-option value="D+">D+</mat-option>
                <mat-option value="D">D</mat-option>
                <mat-option value="D-">D-</mat-option>
                <mat-option value="F">F</mat-option>
            </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" [(ngModel)]="class.credits" placeholder="credits"/>
            </mat-form-field>
              <mat-form-field><input matInput type="text" [(ngModel)]="class.name" placeholder="class"/></mat-form-field>
              <button mat-button color="primary" (click)="deleteClass(i)">Delete</button> 
              <br> 
        </span>
    </div>
  </mat-card>
  <mat-card>
          <mat-form-field>
            <mat-select [(ngModel)]="newClassGrade">
              <mat-option value="A">A</mat-option>
              <mat-option value="A-">A-</mat-option>
              <mat-option value="B+">B+</mat-option>
              <mat-option value="B">B</mat-option>
              <mat-option value="B-">B-</mat-option>
              <mat-option value="C+">C+</mat-option>
              <mat-option value="C">C</mat-option>
              <mat-option value="C-">C-</mat-option>
              <mat-option value="D+">D+</mat-option>
              <mat-option value="D">D</mat-option>
              <mat-option value="D-">D-</mat-option>
              <mat-option value="F">F</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" [(ngModel)]="newClassCredits" placeholder="Credits">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="newClassName" placeholder="Name">
          </mat-form-field>
          <button mat-raised-button (click)="addNewClass()" color="primary">Add</button>
  </mat-card>
</div>